@import './fonts.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    font-family: Raleway;
    width: 100%;
}
.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.ads {
    background: #0C0C0C;
    padding: 18px 0;
}
.ads>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ads__list {
    display: flex;
    column-gap: 20px;
}
.ads__link {
    color: white;
    transition: 0.3s;
}
.container>.adds__link {
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: white;
}
.ads__link:hover {
    background: #69CF17BF;
    padding: 18px 14px;
}
.nav {
    padding: 6px 0;
    background: #0C0C0C;
    border: 2px solid rgba(0, 128, 0, 0.178);
}
.nav>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list {
    display: flex;
    column-gap: 28px;
    font-size: 18px;
}
.nav__link {
    color: white;
    transition: 0.3s;
}
.logo {
    font-size: 36px;
    font-weight: 700;
    color: white;
    background: #0A9418BF;
    padding: 12px 18px;
    border-radius: 4px;
    border: 4px solid #06600F;
}
.nav__link:hover {
    background: #69CF17BF;
    padding: 33.6px 14px;
}
.header__content {
    background: url(../Images/header__bg.jpg) no-repeat center / cover;
    height: 700px;
    display: flex;
    align-items: center;
}
.header__title {
    color: #69CF17;
    font-size: 72px;
    font-weight: 900;
}
.header__text {
    color: #69CF17;
    font-size: 36px;
    font-weight: 400;
}
.header__texts {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.header__price {
    color: white;
    font-size: 50px;
    font-weight: 200;
    background: #69CF1780;
    padding: 33px 76px;
    width: 285px;
}
.header__link {
    color: white;
    font-size: 18px;
    background: linear-gradient(90deg, #69CF17, #417D11);
    width: 255px;
    padding: 15px 70px;
    border-radius: 6px;
}
.header__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.black__bg {
    background: #0C0C0C;
    width: 100%;
    height: 50px;
}
.container2 {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
.food__menu {
    background: #292929;
    padding: 21px;
}
.menu__list {
    display: flex;
    column-gap: 36px;
}
.menu__link {
    color: white;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}
.menu__link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    left: 0;
    bottom: -100%;
    transition: 0.3s;
}
.menu__link:hover::after {
    width: 100%;
}
.burger__wrapper {
    padding: 15px 0;
    background: #393636;
}
.burger__wrapper>.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
    row-gap: 40px;
}
.burger__item {
    width: 370px;
    height: 524px;
    background: #0C0C0C;
    padding: 15px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.burger__name {
    color: white;
    font-weight: 700;
    font-size: 19px;
}
.burger__text {
    color: white;
    width: 338.73px;
    height: 124px;
    font-size: 19px;
}
.burger__img-link {
    position: relative;
}
.burger__img-link::after {
    content: '';
    width: 340px;
    height: 328px;
    background: url(../Images/add.svg) no-repeat center, #69CF17;
    position: absolute;
    transform: translateY(-100%);
    display: none;
    transition: 0.3s;
}
.burger__img-link:hover::after {
    display: flex;
}
.address__title {
    font-size: 50px;
    color: #69CF17;
    background: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.address__img {
    width: 100%;
}
.footer {
    background: linear-gradient( #000000e2, #3a710d);
    width: 100%;
    height: 325px;
    padding: 30px 0;
}
.footer__tel {
    font-family: Roboto;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.footer__content>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 81px;
    column-gap: 20px;
}
.footer__link {
    color: white;
    font-size: 20px;
    transition: 0.3s;
}
.footer__link:hover {
    color: rgb(4, 255, 4);
}
.about__section {
    background: #0C0C0C;
    padding: 30px 0;
}
.about__section>.container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.about__street-img {
    height: 400px;
}
.about__street-img::after {
    content: 'street 88';
    color: #69CF17B2;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    transform: translate(38%, -360%);
    display: block;
}
.about__texts {
    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    width: 1110px;
    text-align: justify;
    line-height: 25px;
}
.menu__btn {
    position: relative;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: none;
    background: #0C0C0C;
    order: -1;
    display: none;
}
.menu__line {
    width: 100%;
    height: 2px;
    background: white;
}
.menu__btn::after,
.menu__btn::before {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
}